$brand-primary: #2B2B2B;
$brand-secondary: #E8E8E8;
$brand-tertiary: #5E5A5A;

$gray-primary: #707070;
$gray-secondary: #A0A0A0;
$gray-tertiary: #DCD5D5;

$black: #000;
$white: #fff;

$dark: $black;
$light: $white;
